.catalog-top{

}

.catalog-top__header{
  font-family: var(--oswald-font);
  font-style: normal;
  font-weight: normal;
  text-align: left;
  margin: 0;
}

@media (max-width: @mobile-width-only) {
  .catalog-top__header{
    font-size: 36px;
    line-height: 36px;
    padding: 27px 42px 40px 20px;
  }
}

@media (min-width: @tablet-width) {
  .catalog-top__header{
    font-size: 60px;
    line-height: 60px;
  }
}
