.cooperation{
  padding: 25px 0px;
  background-color: var(--basic-white);
}
.cooperation__header{
  margin: 0;
  font-family: var(--oswald-font);
  color: var(--basic-black);
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}
.cooperation__text{
  margin: 0;
  font-family: var(--arial-font);
  color: var(--special-dark-grey);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.cooperation__wrapper{
  margin: 0 auto;
  width: 280px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: @tablet-width) {
  .cooperation{
    background-color: var(--basic-grey);
    padding: 0;
  }
  .cooperation__header{
    width: 171px;
    text-align: left;
    font-size: 20px;
    line-height: 21px;

  }
  .cooperation__wrapper{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    width: 625px;
    min-height: 200px;
  }
  .cooperation__text{
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    width: 159px;
    text-align: right;
  }

}
@media (min-width: @desktop-width) {
  .cooperation{
    position: relative;
    width: 570px;
    margin: 0 auto;
  }
  .cooperation__wrapper {
    position: absolute;
    top: 60px;
    left: -306px;
    width: 570px;
    height: 201px;
    z-index: 2;
    background: none;
    justify-content: space-around;
    width: 525px;
    background-color: #ffffff;
  }
  .cooperation__wrapper--form{
    top: 48px;
    left: -271px;
  }
  .cooperation__wrapper--index{

  }
  .cooperation__header {
    font-size: 20px;
    line-height: 21px;
    width: 171px;
}
.cooperation__text{
    text-align: left;
    width: 155px;
}


}
