.cooperation{
  padding: 25px 19px;
}

.cooperation__header{
  margin: 0;
  font-family: var(--oswald-font);
  color: var(--basic-black);
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}

.cooperation__text{
  margin: 0;
  font-family: var(--arial-font);
  color: var(--special-dark-grey);
  font-style: normal;
  font-weight: normal;
}

@media (max-width: @mobile-width-only) {
  .cooperation__header{
    font-size: 16px;
    line-height: 18px;
  }

  .cooperation__text{
    font-size: 14px;
    line-height: 20px;
  }
}

@media (min-width: @tablet-width) {
  .cooperation{
    background-color: var(--basic-grey);
    padding: 60px 70px;
    display: flex;
    flex-direction: row;
  }
  .cooperation__header{
    text-align: left;
    font-size: 20px;
    line-height: 21px;
    padding-right: 412px;
  }

  .cooperation__text{
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

}
