.example{
  background-color: var(--basic-grey-2);
  width: 100%;
  margin: 0 auto;
}
.example__header{
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  font-size: 36px;
  line-height: 40px;
  margin-top: 27px;
}
.example__text{
  font-family: var(--arial-font);
  color: var(--special-dark-grey);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  margin-bottom: 25px;
  margin-top: 33px;
}
.example__stats {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0;
  margin-bottom: 34px;
}
.example__stats-item{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 124px;
  height: 56px;
  border: 1px solid var(--special-grey);
  border-radius: 3px;
}
.example__stats-number{
  font-size: 24px;
  line-height: 24px;
  margin: 0 auto;
  margin-top: 14px;
}
.example__stats-desc{
  font-family: var(--arial-font);
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  width: 87px;
  margin: 0 auto;
  position: relative;
  bottom: -10px;
  background-color: var(--basic-grey-2);
}
.example__costs{
  font-size: 14px;
  line-height: 20px;
  margin: 0 auto;
  text-transform: uppercase;
}
.example__wrapper{
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}
.example__mobile-header{
    display: block;
  }
.example__desktop-header{
    display: none;
  }
.example__button{
    font-size: 16px;
    line-height: 20px;
  }
.example__img{
    display: block;
    margin: 0 auto;
  }
.example__slider {
    margin: 0 auto;
    margin-top: 35px;
}
.example__slider-list {
    width: 320px;
    margin: 0 auto;
    padding-bottom: 25px;
}
.example__slider-item {
    margin: 0 auto;
}
.example__slider-range {
    display: flex;
    justify-content: space-around;
    width: 228px;
    height: 40px;
    margin: 0 auto;
    margin-top: 23px;
}
.example__slider-button {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding: 0;
    border: none;
    background-color: transparent;
}
.example__slider-check {
    display: none;
    cursor: pointer;
}
.example__slider-select {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.example__slider-select::before, .example__slider-select::after {
    display: block;
    position: absolute;
    content: "";
}
.example__slider-select::before {
    width: 84px;
    height: 14px;
    top: 14px;
    left: -42px;
    border: 1px solid var(--special-grey);
    border-radius: 6px;
    background-color: var(--basic-white);
  }
.example__slider-select::after {
      width: 35px;
      height: 6px;
      top: 18px;
      left: -36px;
      background-color: var(--basic-green);
      border-radius: 6px;
  }
  .example__slider-button {
      font-family: var(--oswald-font);
      font-style: normal;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 20px;
      color: var(--basic-black);
      padding: 0;
      border: none;
      background-color: transparent;
  }
@media (min-width: @tablet-width) {
  .example{
    background-color: var(--basic-white);
  }
  .example__wrapper{
    width: 708px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .example__header{
    font-size: 60px;
    line-height: 60px;
    margin-top: 43px;
  }
  .example__text{
    font-size: 16px;
    line-height: 24px;
    margin-top: 63px;
    margin-bottom: 54px;
  }
  .example__stats {
    width: 366px;
    margin-bottom: 59px;
  }
  .example__stats-item {
    width: 162px;
    height: 72px;
}
.example__stats-number {
  text-transform: uppercase;
    font-size: 30px;
    line-height: 37px;
  }
  .example__stats-desc {
      font-size: 14px;
      line-height: 14px;
      width: auto;
      bottom: -10px;
      padding: 5px 8px 7px 8px;
      background-color: var(--basic-white);
  }
  .example__costs {
    font-size: 20px;
    line-height: 20px;
    width: 174px;
    text-align: right;
    margin: 0;
    padding-top: 10px;
}
  .example__slider {
      margin: 0;
  }
  .example__slider-list {
      width: auto;
      height: 462px;
      margin-top: 195px;
      padding: 0;
      background-color: var(--basic-grey-2);
  }
  .example__slider-item {
      width: 708px;
      position: relative;
      top: -167px;
      margin-bottom: -167px;
  }
  .example__slider-range {
    width: 599px;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 64px;
}
  .example__slider-button {
      font-size: 20px;
      line-height: 30px;
  }
  .example__slider-select::before {
      width: 428px;
      height: 6px;
      top: 17px;
      left: -214px;
      border-radius: 6px;
      background-color: var(--special-grey);
  }
  .example__slider-select::after {
    width: 34px;
    height: 34px;
    top: 0;
    left: -214px;
    border-radius: 50%;
    border: 1px solid var(--basic-border);
    background-color: var(--basic-white);
    background-image: url(../img/slider-control.svg);
    background-size: 8px 8px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (min-width: @desktop-width){
  .example{
    background-color: var(--basic-grey);
  }
  .example__wrapper{
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
  }
  .example__header-desktop-block{
    margin: 0 auto;
    width: 680px;
  }
  .example__stats-desc{
    background-color: var(--basic-grey);
  }
  .example__desktop-header{
    display: block;
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }
  .example__header-desktop-block{
    margin: 0 auto;
    width: 1200px;
  }
  .example__header{
  margin-left: -5px;
  }
  .example__mobile-header{
    display: none;
  }
}


.slider__pic {
  width: 320px;
  height: 240px;

  &--slim {
    display: none;
  }

  @media (min-width: @tablet-width) {
    width: 708px;
    height: 517px;
  }

  @media (min-width: @desktop-width) {
    width: 690px;
    height: 517px;
  }
}
