.question-form{
  color: var(--special-dark-grey);
}

.question-form__header{
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.question-form__text{
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

@media (max-width: @mobile-width-only) {
  .question-form{
    padding-left: 20px;
    padding-right: 20px;
  }
  .question-form__text{
    text-align: left;
  }
}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

}
