.question-form__wrapper{
    margin: 0 auto;
    width: 280px;
    padding: 0 20px;
}
.question-form__header{
  margin: 0;
  margin-bottom: 37px;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-black);
  font-size: 36px;
  line-height: 36px;
  text-align: left;
}
.question-form__text{
  margin: 0px;
  font-family: var(--oswald-font);
  color: var(--basic-black);
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  padding-right: 30px;
  margin-bottom: 40px;
}
  .question-form{
    padding-left: 20px;
    padding-right: 20px;
    color: var(--special-dark-grey);
  }
  .question-form__line{
    margin: 0;
    width: 100%;
    size: 1px;
    color: var(--basic-line);
    margin-bottom: 20px;
  }
  .question-form__type-line{
    position: relative;
    top: 380px;
  }
  .question-form__contacts-line{
    position: relative;
    top: 510px;
  }
@media (min-width: @tablet-width) {
  .question-form__wrapper{
      margin: 0 auto;
      width: 700px;
      padding: 0 30px;
  }
  .question-form{
    color: var(--basic-black);
  }
  .question-form__header{
    color: var(--basic-black);
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
  .question-form__text{
    color: var(--basic-black);
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 60px;
  }
}

@media (min-width: @desktop-width) {
  .question-form__wrapper{
      margin: 0 auto;
      width: 1200px;
      padding: 0 30px;
  }
  .question-form__header{
    color: var(--basic-black);
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
  .question-form__text{
    color: var(--basic-black);
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 60px;
  }
  .question-form__type-naming-desktop{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
}
