.type__input{
  font-size: 16px;
  line-height: 18px;
  font-family: var(--oswald-font);
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--special-dark-grey-2);
}
.type__label{
  color: var(--special-dark-grey-2);
  font-family: var(--oswald-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.type{
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 47px;
  margin-bottom: 47px;
}
@media (min-width: @tablet-width) {
  .type{
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
  }
  .type__input{
    font-size: 20px;
    line-height: 30px;
  }

  .type__label{
    font-size: 20px;
    line-height: 30px;
  }

}

@media (min-width: @desktop-width) {
  .type{
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 28px;
    display: flex;
    flex-direction: column;
    width: 568px;
    height: 169px;
    border: 1px solid var(--basic-border);
    margin: 0;
  }
}
